# Dependency
node_modules/

# Upload user
uploads/
storage/
tmp/

# Cache
cache/
logs/
*.log

# Editor
.vscode/
.idea/

# Sistem
.DS_Store
Thumbs.db

# Build
dist/
build/

# Vendor (jika ingin install ulang)
vendor/

# ENV
.env
.env.*
**/.env
**/.env.*

# Config sensitif
connect.php
config.php
default.php

# Di subfolder mana pun
**/connect.php
**/config.php
**/default.php